table{
    border-collapse: collapse;
    border: 1px solid;
}

.zel{
    background-color: lightgreen;
}

.crv{
    background-color: lightcoral;
}

.drugaKolona{
    width: 50px;
    text-align: center;
    padding-right: 10px;
}

.pv{
    vertical-align: middle;
}

th{
    height: 50px;
    border: 1px solid;
    vertical-align: top;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}

td{
    height: 45px;
    border: 1px solid;
    vertical-align: top;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.prazna{
    border: none;
    border-bottom: 1px solid;
}